body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

header{
background:#111827;
padding:20px;
text-align:center;
}

h1{
color:#38bdf8;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
padding:80px 20px;
text-align:center;
}

.btn{
background:#38bdf8;
padding:12px 25px;
border-radius:10px;
text-decoration:none;
color:black;
font-weight:bold;
}
