<footer class="bg-gray-800 text-white py-6 mt-10">
  <div class="max-w-6xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center gap-4 text-sm">
    
    
    <!-- Menu Footer (Buka Halaman Baru saat diklik) -->
    <ul class="flex gap-6">
      {{ range .Site.Menus.footer }}
        <li>
          <a href="{{ .URL }}" target="_blank" rel="noopener" class="hover:text-gray-400 underline">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>

  </div>
</footer>

<p>Copyright.teukuanca.com. All rights reserved.</p>
